#!/usr/bin/env ts-node

import { App } from 'aws-cdk-lib'
import { {{stackFileName}} } from '../lib/{{stackFileName}}'

const app = new App()
new {{stackFileName}}(app, '{{stackFileName}}', {
  env: {
    account: process.env.CDK_DEFAULT_ACCOUNT,
    region: 'us-east-2',
  },
})
